.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    width: 5rem;
    margin-left: 2rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  & button {
    margin-left: -5rem;
    background-color: transparent;
    border: none;
  }

  flex: 0 0 40%;
  &__input {
    border: none;
    background-color: var(--color-Grey-light-2);
    width: 80%;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    transition: all 0.3s;

    &:focus {
      outline: none;
      width: 95%;
      background-color: var(--color-Grey-light-3);
    }
  }

  &__search {
    height: 1.7rem;
    width: 1.7rem;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  height: 100%;

  &__icon-box,
  &__profile {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 100%;
    &:hover {
      background-color: var(--color-Grey-light-3);
    }
  }

  &__icon {
    height: 2.3rem;
    width: 2.3rem;
    fill: var(--color-Grey-dark-3);
  }

  &__notification {
    color: #fff;
    padding: 0.8rem;
    font-size: 1.2rem;
    position: absolute;
    top: 1.3rem;
    right: 0.5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Primary);
  }

  &__profile {
    display: flex;
    align-items: center;
    &-img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &-name {
      color: var(--color-Grey-dark-3);
    }
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__list {
    list-style: none;
    &-item {
      display: flex;
      align-items: center;
      position: relative;
      padding: 1rem 2rem;
      margin: 0.5rem 0;
      &::before {
        z-index: 1;
        content: '';
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 0.3rem;
        top: 0;
        left: 0;
        background-color: var(--color-Primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
          background-color 0.1s;
      }

      &:hover::before {
        transform: scaleY(1);
        width: 100%;
      }

      &__current {
        margin-top: 3.5rem;
        background-color: var(--color-Primary);
      }
    }

    &-link {
      &,
      &:visited,
      &:link {
        z-index: 200;
        position: relative;
        text-decoration: none;
        color: var(--color-Grey-light-3);
        text-transform: uppercase;
      }
    }

    &-icon {
      height: 1.7rem;
      width: 1.7rem;
      fill: #fff;
      margin-right: 1rem;
    }
  }

  &__copyright {
    color: var(--color-Grey-dark-3);
    margin: 0 auto 1rem;
  }
}

.gallery {
  display: flex;
  &__photo {
    display: block;
    width: 100%;
  }
}

.review {
  border-bottom: $line;
  display: flex;
  align-items: center;

  &__heading {
    padding: 1rem 2rem;
    font-weight: 300;
    color: var(--color-Grey-dark-3);
    text-transform: uppercase;
  }

  &__stars {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    margin-right: auto;
    &-star {
      height: 1.7rem;
      width: 1.7rem;
      fill: var(--color-Primary);
    }
  }

  &__location {
    margin-right: 1.5rem;
  }

  &__rating {
    background-color: var(--color-Primary);
    color: #fff;

    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-overage {
    }

    &-count {
    }
  }

  .btn-inline {
    border: none;
    background-color: transparent;
    color: var(--color-Primary);
    font-size: 1.4rem;
    border-bottom: 2px solid var(--color-Primary);
    display: inline-block;

    &:hover {
      animation: up 0.9s infinite;
    }
  }
}

@keyframes up {
  0% {
    box-shadow: none;
    transform: scale(1);
  }

  50% {
    box-shadow: 0 1rem 4rem rgba(black, 0.2);
    transform: scale(1.05);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
