.wrapper {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;
}
.content {
  display: flex;
  min-height: 50rem;
}
.header {
  background-color: var(--color-grey-light-1);
  height: 7rem;
  border-bottom: $line;
}

.navbar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;
}

.detail {
  flex: 1;
  background-color: var(--color-Grey-light-2);
}
