:root {
  --color-Primary: #eb2f64;
  --color-Primary-light: #ff3366;
  --color-Primary-dark: #ba265d;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  background-image: linear-gradient(to left bottom, var(--color-Primary), var(--color-Primary-dark));
  background-size: cover;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 5rem;
  margin-left: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  flex: 0 0 40%;
}
.form button {
  margin-left: -5rem;
  background-color: transparent;
  border: none;
}
.form__input {
  border: none;
  background-color: var(--color-Grey-light-2);
  width: 80%;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  width: 95%;
  background-color: var(--color-Grey-light-3);
}
.form__search {
  height: 1.7rem;
  width: 1.7rem;
}

.user-nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.user-nav__icon-box, .user-nav__profile {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: 100%;
}
.user-nav__icon-box:hover, .user-nav__profile:hover {
  background-color: var(--color-Grey-light-3);
}
.user-nav__icon {
  height: 2.3rem;
  width: 2.3rem;
  fill: var(--color-Grey-dark-3);
}
.user-nav__notification {
  color: #fff;
  padding: 0.8rem;
  font-size: 1.2rem;
  position: absolute;
  top: 1.3rem;
  right: 0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Primary);
}
.user-nav__profile {
  display: flex;
  align-items: center;
}
.user-nav__profile-img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.user-nav__profile-name {
  color: var(--color-Grey-dark-3);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar__list {
  list-style: none;
}
.navbar__list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
}
.navbar__list-item::before {
  z-index: 1;
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 0.3rem;
  top: 0;
  left: 0;
  background-color: var(--color-Primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.navbar__list-item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.navbar__list-item__current {
  margin-top: 3.5rem;
  background-color: var(--color-Primary);
}
.navbar__list-link, .navbar__list-link:visited, .navbar__list-link:link {
  z-index: 200;
  position: relative;
  text-decoration: none;
  color: var(--color-Grey-light-3);
  text-transform: uppercase;
}
.navbar__list-icon {
  height: 1.7rem;
  width: 1.7rem;
  fill: #fff;
  margin-right: 1rem;
}
.navbar__copyright {
  color: var(--color-Grey-dark-3);
  margin: 0 auto 1rem;
}

.gallery {
  display: flex;
}
.gallery__photo {
  display: block;
  width: 100%;
}

.wrapper {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #fff;
}

.content {
  display: flex;
  min-height: 50rem;
}

.header {
  background-color: var(--color-grey-light-1);
  height: 7rem;
}

.navbar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;
}

.detail {
  background-color: aquamarine;
  flex: 1;
}/*# sourceMappingURL=main.css.map */